/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Source+Sans+Pro&display=swap');
/*======================
   02. Basic css
========================*/
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.43;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	font-size: 1.8rem;
   color: #7b7b7b;
   font-weight: 400;
}
ol,
ul {
	list-style: none;
}
a:hover {
	text-decoration: none;
}
button:focus,
a:focus,
input:focus,
textarea:focus{
	outline: none;
}
h5, h6 {
   font-size: 1.8rem;
   line-height: 1.22;
   font-weight: 400;
}
h3{
	font-size: 2.4rem;
	line-height: 1.2;
	font-weight: 700;
}
/* page loader  */
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.loader3 {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #2793c5;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	        transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	        transform: scale(1, 1);
    	opacity: 0;
  	}
}

@-webkit-keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	opacity: 0;
  	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1024;
	width: 100%;
	padding: 1.5rem 0;
   background-color: #000;
}
.logo{
	display: block;
	max-width: 20rem;
}
body .btn {
   background-color: #2793c5;
   border-color: #2793c5;
   color: #fff;
   text-transform: uppercase;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 2rem;
   padding: 1.1rem 1.6rem .7rem;
   display: inline-block;
}
body .btn:focus,
body .btn:active{
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}
.cart{
	/*margin-right: 2rem;*/
	display: inline-block;
}
/*hero area*/
.hero_area {
   position: relative;
   min-height: 100vh;
   z-index: 1;
   background-color: #000;
   padding: 7rem 0 3rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.hero_area video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	-o-object-fit: cover;
	   object-fit: cover;
	z-index: -1;
}
.hero_area h1{
	font-size: 6.4rem;
	line-height: 1.21;
	font-weight: 400;
	margin-top: 2.5rem;
}
.hero_area h1 span.underline-swish {
   position: relative;
   display: inline-block;
   font-weight: 700;
}
.hero_area h1 span.underline-swish::after {
   content: "";
   display: block;
   width: 100%;
   height: 2rem;
   position: absolute;
   top: auto;
   left: auto;
   bottom: -1rem;
   background-position: top;
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url(../img/underline.svg);
}
.hero_box {
   background-color: #2793c5;
   border-radius: 0.8rem;
   padding: 4.5rem 2rem;
   margin: 0 auto;
   position: relative;
   color: #fff;
   text-align: center;
}
.hero_box h3 {
    margin: 0 0 1rem;
    font-weight: 500;
    color: inherit;
    font-size: 2.5rem;
}
.radio_group{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.radio_group input{
	display: none;
}
.radio_group label {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0.8rem 1rem;
   text-decoration: none;
   background: #fff;
   line-height: 1;
   color: #b4b5b4;
   font-size: 1.4rem;
   white-space: nowrap;
   cursor: pointer;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   min-height: 4.5rem;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   border-right: 0.1rem solid #c9c9c9;
}
.radio_group label:hover,
.radio_group input:checked ~ label{
	background-color: #000;
	color: #fff;
}
.radio_group label:hover strong,
.radio_group input:checked ~ label strong{
	color: #fff;
}
.radio_group label strong{
	display: block;
	font-weight: 700;
	color: #000;
	text-align: center;
}
.radio_item{
	width: 100%;
}
.radio_group .radio_item:first-child label{
	border-radius: 0.4rem 0 0 0.4rem;
}
.radio_group .radio_item:last-child label{
	border-radius: 0rem 0.4rem 0.4rem 0rem;
	border-right: none;
}
.label,
.input_group label{
	font-size: 1.6rem;
	font-weight: 500;
	margin-top: 2.5rem;
	margin-bottom: 0.4rem;
	display: block;
	text-align: left;
}
.input_group input{
	width: 100%;
	background-color: #fff;
	border: none;
	border-radius: 0.4rem;
	padding: 0.4rem 1.5rem;
	font-size: 1.6rem;
	color: #000;
	height: 4.5rem;
}
.hero_box .btn {
   background-color: #fff;
   border: none;
   color: #2793c5;
   margin-top: 3rem;
   border-radius: 0.4rem;
   padding: 1.35rem 3rem 1.2rem;
}
.hero_box .btn:hover {
   background-color: #0062cc;
   color: #fff;
}
.appbtn {
   display: inline-block;
   font-size: 1.4rem;
   color: #000;
   font-weight: 700;
   background-color: #fff;
   margin-top: 5rem;
   padding: 1.2rem 3rem;
   border-radius: 0.4rem;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.appbtn:hover {
   color: #fff;
   background-color: #2793c5;
}
/*step area*/
.step_area{
	padding: 10rem 0;
}
.section-title {
   font-weight: 400;
   color: #000;
}
.step img{
	width: 14.2rem;
}
.step h3{
	margin-top: 2.5rem;
	margin-bottom: 1.2rem;
	color: #2793c5;
}
.step h3 .counter{
	color: #7b7b7b;
}
body .btn-lg {
   padding: 2.1rem 3rem 1.7rem;
   border-radius: 0.6rem;
   margin-top: 2.5rem;
}
/*ipad area*/
.ipad_area{
   background-color: #2793c5;
   border-top: 10rem solid #fff;
   color: #fff;
   padding: 10rem 0;
}
.ipad_bg {
   background-position: top;
   background-repeat: no-repeat;
   padding: 20rem 0 10rem;
   margin: -19rem 0 -10rem;
   background-image: url(../img/ipad.png);
   color: #fff;
}
.ipad_bg .bolt-logo {
   height: 5rem;
   display: block;
   margin: 0 auto 4rem;
}
.ipad_bg .table {
   border-bottom: 0.1rem solid #fff;
   margin: 0 0 4rem;
   color: #fff;
}
.ipad_bg .table th{
	border-top: none;
}
.ipad_bg .table td{
	vertical-align: middle;
}
.ipad_bg tbody>tr:hover {
   background-color: #000;
}
.ipad_bg a.more {
   color: #fff;
   text-decoration: underline;
}
/*certified area*/
.certified_area{
	padding: 7rem 0 10rem;
}
.certified_img{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 30rem;
}
.certified_area h2{
   font-size: 4.8rem;
   line-height: 1.2;
   font-weight: 700;
   color: #000;
}
.certified_area h2 span{
	font-weight: 400;
}
.certified_area p {
   color: #686868;
   font-size: 2.4rem;
}
.certified_area p a{
   color: #000;
   text-decoration: underline;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.certified_area p a:hover{
   color: #2793c5;
}
/*price area*/
.price_area {
   background-image: -webkit-gradient(linear,left top, left bottom,from(#f1f1f1),to(#fff));
   background-image: -o-linear-gradient(#f1f1f1,#fff);
   background-image: linear-gradient(#f1f1f1,#fff);
   background-size: 100% 75%;
   background-repeat: no-repeat;
   padding: 10rem 0;
   background-color: #fff;
}
.price_area .item {
   border: 0.1rem solid #e7e7e7;
   padding: 9rem 2rem 2rem;
   position: relative;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   background-color: #fff;
   z-index: 1;
   text-align: center;
}
.price_area .item:hover {
    -webkit-box-shadow: 0 0 2rem 0 #e7e7e7;
            box-shadow: 0 0 2rem 0 #e7e7e7;
}
.price_area .item:before {
   content: "";
   display: block;
   background-color: #f9f9f9;
   width: 100%;
   height: 15rem;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
   border-bottom: 1px solid #e7e7e7;
   z-index: -1;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.price_area .item:hover:before{
	background-color: #000;
	border-bottom-color: #000;
}
.price_area .item .logo-sticker {
   position: absolute;
   top: 0;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   border-radius: 50%;
   width: 8rem;
   border: 0.2rem solid #fff;
}
.price_area .item .item-picture {
   height: 16rem;
   margin: 0 auto 4rem;
   display: block;
}
.price_area .item .corner-ribbon {
   position: absolute;
   top: -0.2rem;
   right: -0.1rem;
}
.price_area .item .item-heading {
   font-size: 4.8rem;
   line-height: 1;
   font-weight: 700;
   color: #000;
   margin-bottom: 1.2rem;
}
.price_area  .item .item-heading sup {
   display: inline-block;
   font-size: 2rem;
   font-weight: 400;
   color: #2793c5;
   vertical-align: super;
   position: relative;
   top: 0rem;
}
.price_area h2{
   font-size: 4.8rem;
   line-height: 1.2;
   font-weight: 700;
   color: #000;
   margin-bottom: 1.2rem;
}
.price_area p a {
   color: #000;
   text-decoration: underline;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.price_area p a:hover{
   color: #2793c5;
}
body .btn-default {
   background-color: #252525;
   border: 1px solid #252525;
   margin-left: 3rem;
}
body .btn-default:active, 
body .btn-default:focus, 
body .btn-default:hover {
   background-color: #000;
   border: 1px solid #000;
   color: #fff;
}
/*middleman area*/
.middleman_area {
   background: #fff;
   border-top: 0.1rem solid #b2e2f5;
   border-bottom: 0.1rem solid #b2e2f5;
   position: relative;
   padding: 8rem 0;
}
.middleman_area::after{
   content: "";
   display: block;
   background-color: #b2e2f5;
   width: 0.1rem;
   height: 100%;
   position: absolute;
   top: 0;
   left: 50%;
}
.middleman_area [class*=col-]{
	padding: 0 5%;
}
.middleman_area h2{
   font-size: 4.8rem;
   line-height: 1.2;
   font-weight: 700;
   color: #000;
   margin-bottom: 1.3rem;
}
.middleman_area p{
	margin-bottom: 2.5rem;
}
.middleman_area h3{
	color: #000;
	margin-bottom: 1.2rem;
}
.middleman_area h3 span{
	text-decoration: underline;
}
.graph_img {
   max-width: 53.4rem;
   width: 100%;
   margin-bottom: 4rem;
}
/*sticky area*/
.sticky_area{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.bg_box{
	min-height: 100vh;
	background-color: #252525;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sticky_area .pin-inner {
    padding: 35vh 15rem 0;
}
.sticky_area .pin-inner h2{
	font-size: 4.8rem;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
}
.pin-nav{
	padding-bottom: 5rem;
	padding-right: 9rem;
	text-align: right;
}
.pin-nav ul{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.pin-nav ul li a{
	display: inline-block;
	line-height: 4.8rem;
	position: relative;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.pin-nav ul li a:hover,
.pin-nav ul li a.active{
	color: #2793c5;
}
.pin-nav ul li a.active:before {
   content: "";
   padding-top: 0;
   display: block;
   width: 20rem;
   height: 0.2rem;
   background: #2793c5;
   position: absolute;
   right: -9rem;
   top: auto;
   bottom: 1rem;
   margin: auto;
}
.section{
	padding: 8rem 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
}
.card_box{
	background-color: #fff;
   border-top: 1rem solid #2793c5;
   background-image: -webkit-gradient(linear,left top, left bottom,color-stop(18rem, #252525),color-stop(0, transparent),to(transparent)),-webkit-gradient(linear,left top, left bottom,color-stop(28rem, #f9f9f9),color-stop(0, transparent),to(transparent));
   background-image: -o-linear-gradient(#252525 18rem,transparent 0,transparent),-o-linear-gradient(#f9f9f9 28rem,transparent 0,transparent);
   background-image: linear-gradient(#252525 18rem,transparent 0,transparent),linear-gradient(#f9f9f9 28rem,transparent 0,transparent);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   padding: 6.5rem 5.0rem 5.0rem !important;
   color: #252525;
   width: 100%;
}
.card_box .heading{
	color: #fff;
   font-size: 2.4rem;
   text-transform: uppercase;
   text-align: center;
   margin: 0;
   line-height: 1;
   padding: 0 0 6rem;
   margin: 0 0 2rem;
}
.card_box .heading::before{
	content: "Certified";
   display: block;
   margin: 0 auto;
   color: #2793c5;
   font-size: 1.8rem;
   line-height: 1;
   padding-bottom: 1rem;
}
.card_box img{
	width: 100%;
	max-width: 23.6rem;
	display: block;
	margin: 0 auto;
}
.card_box ul{
	font-size: 2.4rem;
	padding: 2rem 0 2.5rem;
}
.card_box ul li{
	margin-bottom: 1rem;
}
.card_box ul li::before{
	content: "\f14a";
   font-family: 'Font Awesome 5 Pro';
   color: #2793c5;
   display: inline-block;
   margin-right: 2rem;
   font-size: 3.4rem;
   vertical-align: middle;
   line-height: 1;
}
.text_widget .heading {
   color: #2793c5;
   font-size: 3.6rem;
   font-weight: 700;
   line-height: 1.2;
   text-transform: uppercase;
   margin-bottom: 2.5rem;
}
.text_widget p{
	line-height: 1.5;
	margin-bottom: 2.5rem;
}
.text_widget p a{
	color: #000;
	text-decoration: underline;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.text_widget p a:hover{
   color: #2793c5;
}
.text_widget h4{
	font-size: 2.4rem;
   line-height: 1.3;
   color: #000;
   font-weight: 400;
   margin-bottom: 1.2rem;
}
.video_box{
	position: relative;
	padding-bottom: 56.6%;
}
.video_box iframe {
   opacity: 1;
   background-color: transparent;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   border: none;
}
/*fast area*/
.fast_banner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100vh;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #fff;
}
.fast_banner h2{
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1.2rem;
}
.fast_banner h2 span{
	font-weight: 400;
}
.fast_banner h2 img{
	width: 6.3rem;
	margin-top: -0.8rem;
	margin-left: 0.5rem;
}
.fast_banner h4{
	font-size: 2.4rem;
	padding-bottom: 0.5rem;
	font-weight: 400;
}
.track_img{
	max-width: 38rem;
	width: 100%;
	margin-top: 10rem;
}
/*offer area*/
.offer_area{
	padding: 2.5rem 0 5rem;
	background-color: #009FDF;
	color: #fff;
}
/*footer area*/
.footer_top{
	padding: 7rem 0 10rem;
}
.footer_menu{
	padding: 2rem 15px 0;
}
.footer_menu li{
	margin-top: 0.8rem;
}
.footer_menu li a{
	color: #000;
   text-decoration: underline;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   line-height: 1;
}
.footer_menu li a:hover{
	color: #2793c5;
}
.footer_menu li:first-child a{
	font-weight: 700;
}
.social_links{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -0.7rem;
	margin-right: -0.7rem;
	margin-top: 4.5rem;
}
.social_links li{
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}
.social_links a {
   font-size: 1.4rem;
   color: #fff;
   display: block;
   background-color: #b4b5b4;
   border-radius: 50%;
   width: 3.0rem;
   height: 3.0rem;
   text-align: center;
   line-height: 3.0rem;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.social_links a:hover {
   background-color: #2793c5;
}
.footer_logo img{
	height: 3rem;
}
.footer_img {
   max-width: 13rem;
   width: 100%;
   margin-top: 1.5rem;
}
.logo_content{
	padding: 0 15px;
}
.footer_middle{
	background-color: #000;
	padding: 4rem 0;
	border-bottom: 0.1rem solid #757575;
	color: #fff;
}
.footer_middle a{
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.footer_middle a:hover{
	text-decoration: underline;
}
.footer_bottom{
	background-color: #000;
	padding: 2rem 0 4rem;
	color: #757575;
	font-size: 1.4rem;
}
.copyright{
	font-weight: 700;
}
.footer_bottom a{
	color: inherit;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.footer_bottom a:hover{
	text-decoration: underline;
	color: #fff;
}
/*return-to-top START CSS*/
.back-to-top {
	font-size: 24px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: none;
	position: fixed;
	bottom: 8rem;
	right: 20px;
	border-radius: 50%;
	background: #2793c5;
	z-index: 1000;
}
.back-to-top i {
	color: #fff;
}
/*//send maill style*/
.for-error small {
   color: #bf1302;
   display: none;
   margin-top: 0.5rem;
   font-weight: 500;
   font-size: 1.4rem;
}
.for-error.error small {
   display: block;
}
.radio_button_container_error {
   color: #bf1302;
   display: none;
   margin-top: 0.5rem;
   font-weight: 500;
   font-size: 1.4rem;
}
.radio_button_condition_error{
   color: #bf1302;
   display: none;
   margin-top: 0.5rem;
   font-weight: 500;
   font-size: 1.4rem;
}
.error-vis{
   display: block;
}
